*{
    margin: 0; 
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.box{
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    padding: 2vh 2vw;
    height:fit-content;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 5vh auto;
}
img{
    width:50%;
    height:25vh ;
    border-radius: 50%;
    align-self: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 3vw;
}
button{
    background-color: palevioletred;
    font-size: 3vmax;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}