body{
    margin: 0;
    padding: 0;
    background-color: rgb(38, 38, 38);
}
.container {
    width: 50vw;
    height: 80vh;
    /* background-color: rgb(125, 120, 120); */
    margin: 10vh auto;
    display: flex;
    justify-content: center;
}

.calculator {
    background-color:black;
    margin: 10vh 0;
    padding: 2vh 1.5vw;
    /* padding-bottom:6vh; */
    border-radius: 10px;
    box-shadow:3px 5px 20px rgb(55, 55, 55);
}

input {
    min-height: 5vh;
    width: 20vw;
    border: 2px solid whitesmoke;
    background-color: rgb(212, 208, 208);
    font-weight: bold;
    font-size: 1.5vmax;
}

.grid {
    display: grid;
    grid-template-columns:repeat(4,4.5vw);
    grid-template-rows: repeat(5,8vh);
    row-gap:1.5vh;
    column-gap:1vw;
    margin: 1.4vh 0;
}
button{
    border-radius:10px;
    border: none;
    font-size:2vmax;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 3px 3px 5px rgb(181, 179, 179,0.5); */
    text-align: center;
    padding: 0 0;
    background-color: rgb(212, 208, 208);
}
#equal{
    grid-column: span 2;
    background-color: rgb(67, 167, 67);
}
#clear{
    grid-column: span 2;
    background-color: red;
}
.operators{
    background-color: rgb(46, 46, 183);
}
#delete{
    background-color: rgb(148, 41, 41);
}
/* responsive design */
@media(max-width:425px){
    .grid {
    display: grid;
    grid-template-columns:repeat(4,25px);
    grid-template-rows: repeat(5,30px);
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}
.calculator{
     /* width: 30vw; */
     text-align: center;
     padding: 10px;
   }
}