@tailwind base;
@tailwind components;
@tailwind utilities;


 
@media(min-width:700px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0vh;
    }
    .first{
        width: 50vw;
        height: 80vh;
    }
    .second{
        width: 50vw;
        height: 80vh;
        
    }
    .song{
        font-size:1vmax;
    }
}

.active{
    background-color: rgb(9, 67, 9);
}